Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.exe
Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.exe.config
Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.pdb
Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.vshost.exe
Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.vshost.exe.config
Buchhaltung Kappa/bin/Debug/Buchhaltung Kappa.vshost.exe.manifest
Buchhaltung Kappa/obj/Debug/Buchhaltung Kappa.csproj.FileListAbsolute.txt
Buchhaltung Kappa/obj/Debug/Buchhaltung Kappa.csproj.GenerateResource.Cache
Buchhaltung Kappa/obj/Debug/Buchhaltung Kappa.csprojResolveAssemblyReference.cache
Buchhaltung Kappa/obj/Debug/Buchhaltung Kappa.exe
Buchhaltung Kappa/obj/Debug/Buchhaltung Kappa.pdb
Buchhaltung Kappa/obj/Debug/Buchhaltung_Kappa.Form1.resources
Buchhaltung Kappa/obj/Debug/Buchhaltung_Kappa.Properties.Resources.resources
Buchhaltung Kappa/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Buchhaltung Kappa/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Buchhaltung Kappa/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Buchhaltung Kappa/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Buchhaltung Kappa/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Buchhaltung Kappa/obj/Debug/TempPE/Ausgang_dataset.Designer.cs.dll
Buchhaltung Kappa/obj/Debug/TempPE/databaseDataSet.Designer.cs.dll
Buchhaltung Kappa/obj/Debug/TempPE/databaseDataSet1.Designer.cs.dll
Buchhaltung Kappa/obj/Debug/TempPE/databaseDataSet2.Designer.cs.dll
Buchhaltung Kappa/obj/Debug/TempPE/Eingang_dataset.Designer.cs.dll
Buchhaltung Kappa/bin/Debug/database.accdb
